@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1264px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.footer {
  background-color: #10367c;
  height: 625px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 64px;
}

.sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.chapter {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

ul {
  margin-left: 0;
}

li {
  font-size: 20px;
  list-style-type: none;
  color: #ffffff;
}

.about {
  display: flex;
  flex-direction: column;
}

.property-types {
  display: flex;
  flex-direction: column;
}

.support {
  display: flex;
  flex-direction: column;
}

.inc {
  font-size: 14px;
  color: #ffffff;
}
