@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Roboto:ital,wght@0,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
  cursor: pointer;
}

a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

input {
  outline: none;
}

.container {
  max-width: 1264px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.top-section {
  height: 100vh;
  background-image: url("../images/castelmezzano.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #a4bcec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center 15%;
}

.top-content {
  margin-top: 196px;
}

.header {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 40px;
  width: 205px;
  background-image: url("../images/logo-more.png");
  background-size: cover;
}

.header-sections {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header-links {
  display: flex;
  gap: 24px;
  cursor: pointer;
}

.link-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hr-links {
  width: 50px;
  height: 4px;
  background-color: #f5bd41;
  display: none;
}

.link-block:hover + hr {
  display: block;
}

.header-links a {
  border-bottom: solid 4px transparent;
}

.link-stays:hover {
  border-bottom: solid 4px #f5bd41;
}

.link-attractions:hover {
  border-bottom: solid 4px #f5bd41;
}

.header-buttons {
  display: flex;
  gap: 24px;
  cursor: pointer;
  align-items: center;
}

.button-night {
  height: 40px;
  width: 30px;
  background-image: url("../images/logo-more.png");
  background-size: cover;
  background-position-x: 70px;
  border: none;
  background-color: transparent;
}

.button-account {
  max-height: 40px;
  max-width: 40px;
  background-image: url("../images/logo-more.png");
  width: 277px;
  height: 40px;
  background-size: cover;
  background-position-x: 40px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.form-button {
  width: 192px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: #3077c6;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.button-menu {
  width: 24px;
  height: 16px;
  background-image: url("../images/menu.svg");
  background-size: cover;
  background-position-x: 20px;
  border: none;
  background-color: transparent;
  display: none;
}

.form {
  height: 64px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  margin-top: 150px;
  margin-bottom: 130px;
}

.form-name {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

._name-margin {
  margin-right: 221px;
}

._form-settings {
  height: 64px;
  padding: 0;
}

.form-mobile-edition {
  display: none;
}

.form-button {
  width: 192px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: #3077c6;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.apps {
  width: 270px;
  height: 40px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.google {
  width: 135px;
  background-image: url("../images/apps.png");
}

.app-store {
  width: 120px;
  background-image: url("../images/apps.png");
  background-position-x: 120px;
}

.form-elements {
  position: relative;
}

.country {
  width: 39.5%;
}

.date {
  width: 21%;
}

.options {
  width: 27%;
}

.form-elements input::placeholder {
  font-size: 18px;
  color: #000000;
}

.form-elements input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 3px solid transparent;
  padding-left: 24px;
  font-size: 18px;
}

.form-elements label {
  position: absolute;
  top: -36px;
  left: 15px;
  color: #ffffff;
}

.form-elements input:focus {
  border: 3px solid #f5bd41;
}

.hr-offer {
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  border: none;
  margin: 0 auto;
}

h2:hover + .hr-heading {
  background-color: #f5bd41;
}

.offers-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 80px;
  margin-bottom: 114px;
}

.offers-item {
  width: 296px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

.img-headph {
  width: 75px;
  height: 92px;
  margin-bottom: 52px;
}

.img-mess {
  width: 83px;
  height: 92px;
  margin-bottom: 56px;
}

.img-laptop {
  width: 100px;
  height: 67px;
  margin-bottom: 65px;
}

.img-cool {
  width: 92px;
  height: 83px;
  margin-bottom: 61px;
}

.text-offer {
  font-size: 24px;
  font-weight: 400;
}

.destinations-content {
  display: flex;
  flex-direction: column;
  gap: 65px;
}

.destinations-buttons {
  display: flex;
  width: 50%;
  height: 64px;
  border-radius: 8px;
  background-color: #f3f3f4;
  margin-top: 80px;
}

.button-region {
  font-size: 24px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  padding: 17px 53px 17px 52px;
  color: #383838;
  background-color: #f3f3f4;
}

.button-region:hover {
  color: #ffffff;
  background-color: #3077c6;
  transition: 0.8s;
}

.button-cities {
  font-size: 24px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  padding: 17px 53px 17px 52px;
  color: #383838;
  background-color: #f3f3f4;
}

.button-cities:hover {
  color: #ffffff;
  background-color: #3077c6;
  transition: 0.8s;
}

.button-places {
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  color: #383838;
  background-color: #f3f3f4;
}

.button-places-mobile {
  display: none;
}

.button-places:hover {
  color: #ffffff;
  background-color: #3077c6;
  transition: 0.8s;
}

.destinations-blocks {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.destinations-element {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.destinations-effect {
  background-color: #38383866;
}

.open-block {
  display: flex;
  gap: 14px;
}

.close-block {
  display: flex;
  gap: 14px;
}

.destinations-name {
  font-size: 24px;
  font-weight: 400;
  color: #3077c6;
}

.destination-image {
  width: 100%;
  height: 100%;
}

.destination-image:hover {
  filter: brightness(60%);
  transition: 0.3s;
}

.destinations-button {
  width: 128px;
  height: 48px;
  background-color: #ffffff;
  color: #3077c6;
  font-size: 18px;
  font-weight: 400;
  border-radius: 8px;
  border: solid 1px #3077c6;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%);
  opacity: 0;
}

.destinations-element:hover .destinations-button {
  opacity: 1;
  transition: 0.3s;
}

.close-button {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  margin-bottom: 121px;
}

.down-button {
  border: none;
  background-color: transparent;
}

.sign-up {
  background-color: #eaf0f9;
  display: flex;
  padding: 51px 24px;
}

.sign-mobile {
  display: none;
}

.sign-content {
  display: flex;
  flex-direction: column;
  gap: 21px;
  padding-left: 24px;
}

.sign-text {
  font-size: 24px;
  font-weight: 500;
}

.sign-button {
  max-width: 128px;
  padding: 12px 32px;
  border-radius: 8px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  color: #3077c6;
  border: solid 1px #3077c6;
}

.button-close {
  border: none;
  background-color: transparent;
  position: relative;
  top: -64px;
  left: 50%;
}

.homes-loves {
  background-color: #eaf0f9;
}

.homes-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  padding-bottom: 114px;
  margin-top: 80px;
  background-color: #eaf0f9;
}

.homes-item {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.homes-item:nth-last-child(2n) {
  display: flex;
}

.text-homes {
  font-size: 24px;
  font-weight: 400;
  color: #3077c6;
}

.text-country-homes {
  font-size: 24px;
  font-weight: 400;
  color: #bfbfbf;
}

.homes-button {
  min-height: 40px;
  min-width: 50px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
  top: 130px;
  right: 40px;
  margin: 0;
  cursor: pointer;
}

.reviews {
  margin-bottom: 120px;
}

.reviews-blocks {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 104px;
}

.reviews-card {
  background-color: #eaf0f9;
  width: 400px;
  height: 760px;
}

.review-image {
  position: relative;
}

.card-info {
  padding: 24px 24px;
}

.review-price {
  width: 400px;
  background-color: #383838b2;
  color: #ffffff;
  padding: 16px 0 11px 24px;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  bottom: 2px;
}

.card-about {
  display: flex;
  justify-content: space-between;
}

.card-links {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card-links a {
  color: #3077c6;
  font-size: 18px;
}

.card-links a:first-child {
  font-weight: 500;
}

.card-links a:last-child {
  font-weight: 400;
}

.nav-rating {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.rating {
  width: 48px;
  height: 32px;
  padding: 4px 11px;
  background-color: #10367c;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}

.nav-rating span:last-child {
  font-size: 14px;
  font-weight: 400;
  color: #bfbfbf;
}

.user-block {
  display: flex;
  gap: 16px;
  margin: 24px 0 17px 0;
}

.user-image {
  width: 54px;
  height: 54px;
}

.user-block span {
  font-size: 18px;
  font-weight: 400;
}

.user-block span:last-child {
  color: #bfbfbf;
}

.review-text {
  font-size: 18px;
  font-weight: 400;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.switch-block {
  display: none;
}

.reviews-switch {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-top: 8px;
}

.switch-circle-active {
  background-color: #000000;
}

.switch-circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: solid 1px #000000;
}

.footer {
  background-color: #10367c;
  height: 625px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 64px;
}

.links-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 24px;
}

.list-heading {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.list-link {
  font-size: 20px;
  color: #ffffff;
}

.inc {
  font-size: 14px;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  h1 {
    font-size: 30px;
  }
  .top-content {
    margin-top: 40px;
  }

  .header-links {
    display: none;
  }

  .button-menu {
    display: block;
  }

  .form__desktop-edition {
    display: none;
  }

  .form__mobile-edition {
    display: flex;
  }

  .form {
    width: 100%;
    height: 100%;
    background-color: #f5bd41;
    margin: 30px 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 0;
  }

  .country {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }

  .form__mobile-edition {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .date-mobile {
    display: flex;
    width: 100%;
    gap: 8px;
  }

  .filter-mobile {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 4px;
  }

  .form-elements {
    height: 48px;
    width: 100%;
  }

  .form-name {
    padding-left: 30px;
  }

  .form-elements input {
    border-radius: 4px;
    padding-left: 8px;
    padding-top: 15px;
  }

  .input-country.input-country {
    background-image: url(../images/vector.svg);
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 8px 15px;
    padding-left: 36px;
    padding-top: 0;
  }

  ._form-padding {
    padding-top: 15px;
  }

  .form input:focus {
    border: none;
  }

  .form input {
    border: none;
  }

  .separator {
    background-color: #bfbfbf;
    height: 32px;
    width: 1px;
  }

  .form-elements label {
    position: absolute;
    top: 6px;
    left: 8px;
    color: #383838;
    font-size: 12px;
    font-weight: 400;
  }

  .adults {
    border-radius: 4px 0 0 4px;
  }
}

.offers__caption {
  margin-top: 24px;
  font-size: 28px;
}

.offers__hr {
  display: none;
}

.offers__group {
  margin-top: 32px;
  padding-bottom: 40px;
}

.col-3 {
  display: flex;
  justify-content: center;
}

.offers__img-wrapper {
  margin-bottom: 16px;
  max-width: 70%;
  max-height: 70%;
}

.offers-text {
  font-size: 15px;
}

.footer-img {
  padding-top: 40px;
}

.footer__logo {
  display: block;
  margin: 0 auto;
}

.footer__links {
  padding-top: 40px;
  padding-bottom: 32px;
  gap: 16px;
}

.footer__list-heading {
  font-size: 18px;
  text-decoration: underline;
}

.footer__list-link {
  display: none;
}

.footer__inc {
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.homes-item:nth-last-child(2n) {
  display: none;
}

h2 {
  font-size: 28px;
  padding-top: 40px;
  margin-bottom: 32px;
}

.homes-item {
  display: flex;
  gap: 8px;
}

.text-homes {
  font-size: 12px;
}

.text-country-homes {
  font-size: 12px;
}

h2 {
  font-size: 28px;
}

.destinations-content {
  gap: 24px;
}

.destinations-name {
  font-size: 12px;
}

.destinations-buttons {
  display: flex;
  gap: 16px;
  width: 100%;
  height: 32px;
  background-color: #ffffff;
  margin-top: 32px;
  justify-content: center;
}

.button-region {
  max-width: 98px;
  max-height: 32px;
  font-size: 19px;
  padding: 5px 15px;
  border: solid 1px #f3f3f4;
  border-radius: 4px;
  color: #383838;
  background-color: #ffffff;
}

.button-cities {
  max-width: 98px;
  max-height: 32px;
  font-size: 19px;
  padding: 5px 15px;
  border: solid 1px #f3f3f4;
  border-radius: 4px;
  color: #383838;
  background-color: #ffffff;
}

.button-places {
  display: none;
}

.button-places-mobile {
  display: block;
  font-size: 19px;
  font-weight: 400;
  padding: 5px 15px;
  border: solid 1px #f3f3f4;
  border-radius: 4px;
  color: #383838;
  background-color: #ffffff;
}

.button-places-mobile:hover {
  color: #ffffff;
  background-color: #3077c6;
  transition: 0.8s;
}

.open-block {
  display: flex;
  justify-content: center;
}

.none-mobile {
  display: none;
}

.destination-image {
  position: relative;
}

.close-button {
  transform: rotate(-90deg);
  margin: 0;
  position: absolute;
  bottom: 10vh;
  right: 10%;
}

.sign-up {
  display: none;
}

.sign-mobile {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 24px 0;
}

.sign-href-mobile {
  font-size: 14px;
  font-weight: 500;
  color: #3077c6;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  h2 {
    padding-top: 40px;
    font-size: 28px;
  }

  .reviews {
    background-color: #eaf0f9;
  }

  .reviews-blocks {
    margin-top: 32px;
  }

  .user-image {
    width: 43px;
    height: 43px;
  }

  .reviews-swipe {
    display: none;
  }

  .review-price {
    display: none;
  }

  .card-links a {
    font-size: 15px;
  }

  .rating {
    width: 39px;
    height: 26px;
    font-size: 15px;
  }

  .nav-rating span:last-child {
    font-size: 12px;
  }

  .user-image {
    width: 43px;
    height: 43px;
    display: flex;
    align-items: center;
  }

  .user-block span {
    font-size: 15px;
  }

  .review-text {
    font-size: 15px;
  }

  .switch-block {
    display: block;
  }
}
