@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Roboto:ital,wght@0,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1264px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}


h1 {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}


input {
  outline:none;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.top-section {
  height: 100vh;
  background-image: url("../images/castelmezzano.png") ;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #a4bcec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center 15%;
}

.top-content {
  margin-top: 196px;
}

.header {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: 40px;
  width: 205px;
  background-image: url("../images/header.svg");
  background-size: cover;
}

.header__sections {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header__links {
  display: flex;
  gap: 24px;
}

.header__buttons{
  display: flex;
  gap: 24px;
}

.header-buttons__night {
  min-height: 40px;
  min-width: 30px;
  background-image: url("../images/header.svg");
  background-size: cover;
  background-position-x: 70px;
  border: none;
  background-color: transparent;
}

.header-buttons__account {
  max-height: 40px;
  max-width: 40px;
  background-image: url("../images/header.svg");
  width: 277px;
  height: 40px;
  background-size: cover;
  background-position-x: 40px;
  border: none;
  background-color: transparent;
}

.form {
  height: 64px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  margin-top: 150px;
  margin-bottom: 130px;
}

.form-name {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

._name-margin {
  margin-right: 221px;
}

._form-settings {
  height: 64px;
  padding: 0;
  border: none;
}

.form__button {
  width: 192px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: #3077C6;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.apps {
  width: 270px;
  height: 40px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.apps__google {
  width: 135px;
  background-image: url("../images/apps.png");
}

.apps__app-store {
  width: 120px;
  background-image: url("../images/apps.png");
  background-position-x: 120px;
}

.form__elements {
  position: relative;
}

.country {
  width: 39.5%;
}

.date {
  width: 21%;
}

.options {
  width: 27%;
}

.form__elements input::placeholder {
  font-size: 18px;
  color: #000000;
}

.form__elements input{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 3px solid transparent;
  padding-left: 24px;
  font-size: 18px;
}

.form__elements label{
  position: absolute;
  top: -36px;
  left: 15px;
  color: #ffffff;
}

.form__elements input:focus {
  border: 3px solid #F5BD41;
}

.offers__hr {
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  border: none;
  margin: 0 auto;
}

.offers__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*gap: 16px;*/
  margin-top: 80px;
  padding-bottom: 114px;
}

.offers__item {
  width: 296px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.offers__img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 48px;
}

.offers__img-headph {
  width: 75px;
  height: 92px;
  margin-bottom: 52px;
}

.offers__img-mess {
  width: 83px;
  height: 92px;
  margin-bottom: 56px;
}

.offers__img-laptop {
  width: 100px;
  height: 67px;
  margin-bottom: 65px;
}

.offers__img-cool {
  width: 92px;
  height: 83px;
  margin-bottom: 61px;
}

.offers__text {
  font-size: 24px;
  font-weight: 400;
}

.footer {
  background-color: #10367c;
  height: 625px;
}

.footer__logo {
  display: none;
  max-width: 98px;
  max-height: 19px;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 64px;
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 24px;
}

.footer__list-heading {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.footer__list-link {
  font-size: 20px;
  color: #ffffff;
}

.footer__inc {
  font-size: 14px;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  .offers__caption {
    margin-top: 24px;
    font-size: 28px;
  }

  .offers__hr {
    display: none;
  }

  .offers__group {
    margin-top: 32px;
    padding-bottom: 40px;
  }

  .col-3 {
    display: flex;
    justify-content: center;
  }

  .offers__img-wrapper{
    margin-bottom: 16px;
  }

  .offers__text {
    font-size: 15px;
  }

  .footer-img {
    margin-top: 40px;
  }

  .footer__logo {
    display: block;
    margin: 0 auto;

  }

  .footer__links {
    padding-top: 40px;
    padding-bottom: 32px;
    gap: 16px;
  }

  .footer__list-heading {
    font-size: 18px;
    text-decoration: underline;
  }

  .footer__list-link {
    display: none;
  }

  .footer__inc {
    display: flex;
    justify-content: center;
    font-size: 12px;
  }

}
