@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Roboto:ital,wght@0,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1264px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  color: #ffffff;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

a {
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}

input {
  outline: none;
}

.top-section {
  height: 100vh;
  background-image: url("../images/castelmezzano.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  background-color: #a4bcec;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: center 15%;
}

.top-content {
  margin-top: 196px;
}

.header {
  padding-top: 51px;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  height: 40px;
  width: 205px;
  background-image: url("../images/logo-more.png");
  background-size: cover;
}

.header-sections {
  display: flex;
  align-items: center;
  gap: 48px;
}

.header-links {
  display: flex;
  gap: 24px;
}

.header-buttons {
  display: flex;
  gap: 24px;
  align-items: center;
}

.button-night {
  height: 40px;
  width: 30px;
  background-image: url("../images/logo-more.png");
  background-size: cover;
  background-position-x: 71px;
  border: none;
  background-color: transparent;
}

.button-account {
  background-image: url("../images/logo-more.png");
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position-x: 40px;
  border: none;
  background-color: transparent;
}

.button-menu {
  width: 24px;
  height: 16px;
  background-image: url("../images/menu.svg");
  background-size: cover;
  background-position-x: 20px;
  border: none;
  background-color: transparent;
  display: none;
}

.form-button {
  width: 192px;
  height: 64px;
  padding: 0;
  border: none;
  border-radius: 8px;
  background-color: #3077c6;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}

.form {
  height: 64px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  margin-top: 150px;
  margin-bottom: 130px;
}

.form-name {
  font-weight: 400;
  font-size: 18px;
  color: #ffffff;
}

._name-margin {
  margin-right: 221px;
}

._form-settings {
  height: 64px;
  padding: 0;
  /*border: none;*/
}

.form__mobile-edition {
  display: none;
}

.apps {
  width: 270px;
  height: 40px;
  display: flex;
  gap: 16px;
  margin: 0 auto;
}

.google {
  width: 135px;
  background-image: url("../images/apps.png");
}

.app-store {
  width: 120px;
  background-image: url("../images/apps.png");
  background-position-x: 120px;
}

.form-elements {
  position: relative;
}

.country {
  width: 39.5%;
}

.date {
  width: 21%;
}

.options {
  width: 27%;
}

.form-elements input::placeholder {
  font-size: 18px;
  color: #000000;
}

.form-elements input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: 3px solid transparent;
  padding-left: 24px;
  font-size: 18px;
}

.form-elements label {
  position: absolute;
  top: -36px;
  left: 15px;
  color: #ffffff;
}

.form-elements input:focus {
  border: 3px solid #f5bd41;
}

.hr-offer {
  background-color: #f5bd41;
  width: 100px;
  height: 4px;
  border: none;
  margin: 0 auto;
}

.offers-group {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 80px;
  margin-bottom: 114px;
}

.offers-item {
  width: 296px;
  height: 176px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: space-between;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 48px;
}

.img-headph {
  width: 75px;
  height: 92px;
  margin-bottom: 52px;
}

.img-mess {
  width: 83px;
  height: 92px;
  margin-bottom: 56px;
}

.img-laptop {
  width: 100px;
  height: 67px;
  margin-bottom: 65px;
}

.img-cool {
  width: 92px;
  height: 83px;
  margin-bottom: 61px;
}

.text-offer {
  font-size: 24px;
  font-weight: 400;
}

.footer {
  background-color: #10367c;
  height: 625px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding-top: 120px;
  padding-bottom: 64px;
}

.links-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.list-heading {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.list-link {
  font-size: 20px;
  color: #ffffff;
}

.inc {
  font-size: 14px;
  color: #ffffff;
}

@media only screen and (max-width: 1024px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }

  h1 {
    font-size: 30px;
  }
  .top-content {
    margin-top: 40px;
  }

  .header-links {
    display: none;
  }

  .button-menu {
    display: block;
  }

  .form__desktop-edition {
    display: none;
  }

  .form__mobile-edition {
    display: flex;
  }

  .form {
    width: 100%;
    height: 100%;
    background-color: #F5BD41;
    margin: 30px 0;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 0;
  }

  .country {
    width: 100%;
  }

  .form-button {
    width: 100%;
  }

  .form__mobile-edition {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .date-mobile {
    display: flex;
    width: 100%;
    gap: 8px;
  }

  .filter-mobile {
    display: flex;
  }

  .form-elements {
    height: 48px;
    width: 100%;
  }

  .form-name {
    padding-left: 30px;
  }

  .form-elements input{
    border-radius: 4px;
    /*background-repeat: no-repeat;*/
    /*background-size: 16px;*/
    /*background-position: 8px 15px;*/
    padding-left: 8px;
  }

  .input-country {
    border-radius: 4px;
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 8px 15px;
    padding-left: 24px;
  }

  ._form-padding {
    padding-top: 15px;
  }

  .form-elements-border {
    border-right: 1px solid;
    border-left: 1px solid;
    border-radius: 0;
  }

  .form-elements input:focus {
    border: none;
  }

  .check-in {
    width: 100%;
  }

  .check-out {
    width: 100%;
  }

  .form-elements label {
    position: absolute;
    top: 1px;
    left: 8px;
    padding-top: 6px;
    padding-left: 8px;
    color: #383838;
    font-size: 12px;
    font-weight: 400;
    transform: scale(1.2) translateY(-.75rem) translateX(.15rem);
  }

  .adults {
    border-radius: 4px 0 0 4px;
  }

}
